.App {
  text-align: center;
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
  margin-top: 20px;
}


.App-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App-search{
  padding: 0 20px 20px;
}
.App-search input{
  width: calc(100% - 30px);
  background-color: #dcdcdc;
  border: 0;
  padding: 15px;
}
.App-header img{
  max-width: 100px;
}

.search-button{
  background-color: #ffde00;
  border: 0;
  padding: 10px 10px 5px 10px;
  cursor: pointer;
}
.search-button img{
  width: 20px;
}

.logo {
  font-size: 42px;
  font-weight: 600;
  display: block;
  position: relative;
}
.second-logo {

  position: absolute;
  font-size: 24px;
  color: red;
  margin-left: 220px;
  transform: rotate(-10deg);
  text-decoration: line-through;
  display: block;
  
}


.item:hover {
  background-color: #dcdcdc;
}
.item{
  padding: 10px 20px;
  display: flex;
  justify-content: space-between
}
.item p{
  text-align: left;
  margin: 5px 0;
}
.item button{
  background-color: #94c11e;
  padding: 10px 50px;
  font-weight: bold;
  margin-right: 20px;
  border: 0;
}
.item .arriver {
  text-decoration: line-through;
  color:red;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
