.TabsComponent {
  width: 1200px;
  margin: 0 auto;
  height: 100%;

  header {
    display: flex;
    justify-content: space-between;
    div {
      border: 1px solid red;
      flex-grow: 1;
    }
    div:not(:last-child) {
      margin-right: 10px;
    }
  }
  section {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
  }
}
