.TabsComponent {
  width: 1200px;
  margin: 0 auto;
  height: 100%; }
  .TabsComponent header {
    display: flex;
    justify-content: space-between; }
    .TabsComponent header div {
      border: 1px solid red;
      flex-grow: 1; }
    .TabsComponent header div:not(:last-child) {
      margin-right: 10px; }
  .TabsComponent section {
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%; }
