.leftPart{
    float:left;
    margin-top: 20px;
}
.leftPart span{
    display: inline-block;
    background-color: #dcdcdc;
    width: 20px;
    height: 30px;
    margin: 5px;
    line-height: 30px;
    text-align: center;
}
.hall{
    width: 800px;
    margin-top: 20px;
}
.hall::before{
    content: " ";
    display: block;
    width: 600px;
    height: 10px;
    background-color: blue;
    margin-top: -10px; 
    margin-left: 100px;
    position: relative;
    z-index: 10;
}
.hall>div{
    text-align: center;
}