.place{
    display: inline-block;
    background-color: green;
    width: 20px;
    height: 30px;
    margin: 5px;
    line-height: 30px;
}
.place:hover{
    background-color: yellow;
    cursor: pointer;
}
.isOrdered{
    background-color: yellow;
}
.disable{
    background-color: #ccc !important;
}
.disable:hover{
    cursor: default;
}